@import url(//db.onlinewebfonts.com/c/860c3ec7bbc5da3e97233ccecafe512e?family=Circular+Std+Book);
@font-face {
    font-family: "Circular Std Book";
    src: url("//db.onlinewebfonts.com/t/860c3ec7bbc5da3e97233ccecafe512e.eot");
    src: url("//db.onlinewebfonts.com/t/860c3ec7bbc5da3e97233ccecafe512e.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/860c3ec7bbc5da3e97233ccecafe512e.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/860c3ec7bbc5da3e97233ccecafe512e.woff") format("woff"), url("//db.onlinewebfonts.com/t/860c3ec7bbc5da3e97233ccecafe512e.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/860c3ec7bbc5da3e97233ccecafe512e.svg#Circular Std Book") format("svg");
}

@font-face {
    font-family: "Circular Std Book";
    src: url('../fonts/circular-std-medium-500.ttf');
    src: url('../fonts/circular-std-medium-500.woff2');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

img {
    max-width: 100%;
}

.container {
    max-width: 1140px !important;
}


/* starting header */

.headernBanner {
    background-position: right !important;
    height: 900px;
    background-size: 100% 100% !important;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.company_Logo img {
    filter: brightness(.77);
}

.list ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    padding: 0px;
    margin: 0px;
}

.list a {
    text-decoration: none;
    color: white;
    font-family: "Circular Std Book";
}

.list {
    display: flex;
    justify-content: end;
    align-items: center;
}

.list ul li {
    padding-left: 25px;
    transition: all 0.5s ease-in-out;
}

.list ul li a {
    transition: all 0.5s ease-in-out;
}

.list ul li a:hover {
    /* transform: scale(2); */
    color: #343333;
}

.list ul li:hover {
    transform: scale(1.1);
}

.list .login_btn {
    margin-left: 25px;
    padding-left: 1.7rem !important;
    padding-right: 1.7rem !important;
    padding-bottom: 6px !important;
    background-color: #23cc1a;
    font-family: "Circular Std Book";
    max-width: 90px;
    border: none;
    border-radius: 7px;
    color: white;
    padding: 5px 20px;
    font-size: 16px;
    box-shadow: -1px 10px 38px -9px rgba(0, 0, 0, 0.88);
    -webkit-box-shadow: -1px 10px 38px -9px rgba(0, 0, 0, 0.88);
    -moz-box-shadow: -1px 10px 38px -9px rgba(0, 0, 0, 0.88);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in-out;
}

.list .login_btn:hover {
    transform: scale(1.1);
}

.checkbtn {
    font-size: 30px;
    color: white;
    position: absolute;
    right: 80px;
    line-height: 80px;
    display: none;
}

#check {
    display: none;
}


/* banner starting */

.banner {
    margin-top: 67px;
}

.banner_content {
    max-width: 400px;
    margin-top: 60px;
}

.banner_content h1 {
    font-size: 36px;
    font-weight: 300;
    font-family: "Poppins";
    line-height: 1.333;
    padding-bottom: 0px;
    color: #343333;
    margin-bottom: 0px;
}

.banner_content span {
    font-size: 70px;
    font-family: "Poppins";
    font-weight: 300;
    text-transform: uppercase;
    margin-top: -10px;
    margin-bottom: 20px;
    color: #343333;
    letter-spacing: 1.5px;
}

.banner_content h5 {
    font-family: "Poppins";
    font-weight: 500;
    font-size: 17px;
    color: #235b20;
    word-spacing: 2px;
}

.banner_content .get_started {
    margin-top: 40px;
    font-size: 16px;
    border-radius: 5px;
    background-image: -moz-linear-gradient( 53deg, rgb(255, 152, 102) 0%, rgb(255, 94, 98) 100%);
    background-image: -webkit-linear-gradient( 53deg, rgb(255, 152, 102) 0%, rgb(255, 94, 98) 100%);
    background-image: -ms-linear-gradient( 53deg, rgb(255, 152, 102) 0%, rgb(255, 94, 98) 100%);
    box-shadow: 0px 18px 60px 0px rgba(0, 0, 0, 0.18);
    color: #fff;
    border: none;
    padding: 15px 30px;
    font-family: "Circular Std Book";
    font-weight: 500;
    transition: all .3s ease-in-out !important;
    max-width: 185px;
}

.banner_content .get_started:hover {
    box-shadow: -1px 10px 38px -9px rgba(0, 0, 0, 0.88);
    -webkit-box-shadow: -1px 10px 38px -9px rgba(0, 0, 0, 0.88);
    -moz-box-shadow: -1px 10px 38px -9px rgba(0, 0, 0, 0.88);
    transform: scale(1.01);
}

.imageShadow1 {
    filter: drop-shadow(1px 10px 16px rgb(223, 220, 220));
}


/* ending nav n header */


/* starting tools */

.tools {
    margin-top: 100px;
}

.tools_h2 {
    font-size: 35px;
    font-family: "Circular Std Book";
    color: #38393a;
    line-height: 1.2;
    text-align: center;
    max-width: 400px;
    margin: 0 auto;
    position: relative;
}

.tools_h2::after {
    content: ' ';
    width: 35px;
    height: 4px;
    position: absolute;
    background-color: #4eb648;
    border-radius: 5px;
    left: 43%;
    bottom: -30px;
}

.p1 {
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 500;
    line-height: 1.625;
    color: #3a3a3a;
    max-width: 887px;
    margin: 0 auto;
    margin-top: 63px;
    word-spacing: .2px;
}

.p2 {
    margin: 0 auto;
    font-family: 'Poppins';
    margin-top: 30px;
    max-width: 790px;
    line-height: 1.625;
    font-size: 15px;
    font-weight: 500;
    color: #7c858e;
}

.picture_content {
    margin-top: 70px;
    position: relative;
}

.main_pic {
    position: relative;
}

.main_pic:after {
    position: absolute;
    content: '';
    width: 40%;
    height: 100%;
    background-image: -moz-linear-gradient( 85deg, rgb(141, 251, 135) 0%, rgb(6, 17, 84) 100%, rgb(13, 32, 12) 100%);
    background-image: -webkit-linear-gradient( 85deg, rgb(141, 251, 135) 0%, rgb(6, 17, 84) 100%, rgb(13, 32, 12) 100%);
    background-image: -ms-linear-gradient( 85deg, rgb(141, 251, 135) 0%, rgb(6, 17, 84) 100%, rgb(13, 32, 12) 100%);
    box-shadow: 0px 10px 60px 0px rgba(0, 0, 0, 0.2);
    border-radius: 30px;
    left: -25px;
    top: 25px;
    z-index: -1;
}

img {
    max-width: 100%;
}

.motivation {
    border-radius: 25px;
    position: absolute;
    background-color: #fff;
    box-shadow: 0px 7px 120px 0px rgba(47, 88, 105, 0.13);
    top: 122px;
    left: -175px;
    max-width: 800px;
    min-height: 550px;
}

.motivation::after {
    position: absolute;
    content: '';
    height: 100%;
    width: 40%;
    right: -25px;
    border-radius: 25px;
    top: -25px;
    background-color: rgba(63, 112, 210, 0.322);
    z-index: -1;
    opacity: 0.102;
}

.first h6,
.second h6 {
    font-size: 18px;
    font-family: 'Poppins';
    color: #343333;
    line-height: 1.35;
    font-weight: 550;
}

.first p,
.second p {
    font-size: 14px;
    color: #7c858e;
    font-family: "Poppins";
    line-height: 1.643;
    text-align: left;
}

.first {
    padding-left: 0px !important;
    max-width: 260px !important;
}

.second {
    padding-left: 25px !important;
}

.bulb {
    padding: 0px;
}

.bulb p {
    transform: rotate(90deg);
    font-size: 80px;
    font-family: "Poppins", sans-serif;
    color: rgba(16, 89, 131, 0.043);
    font-weight: bold;
    margin-top: -50px;
}

.mot_container {
    padding: 60px;
    justify-content: space-around;
    margin: 0px;
}

.motivation_container {
    position: relative;
}

.main_motivation {
    margin: 0 auto;
    justify-content: center;
}

.image_container {
    display: flex;
    justify-content: center;
}


/* tool div ending */


/* business pans starting */

.business_plan {
    margin-top: 300px;
    position: relative;
}

.businessPlan_heading {
    max-width: 600px;
}

.background_business {
    margin-top: 80px;
}

.background4 {
    display: flex;
    justify-content: center;
}

#myVideo {
    width: 100%;
}

.imageShadow2 {
    filter: drop-shadow(1px 1px 10px rgb(221, 221, 221));
}

.computer {
    margin-top: -313px;
    position: relative;
}

.imageShadow {
    filter: drop-shadow( 5px 5px 5px);
}

.playbtn {
    height: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.videoplayer {
    width: 81%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

video:focus {
    outline: none;
}

.closebtn {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.background_business h4 {
    color: #343333;
    margin: 0 auto;
    max-width: 350px;
    margin-top: 70px;
    font-size: 25px;
    font-family: "Circular Std Book";
    font-weight: 600;
}

.background_business p {
    font-size: 14px;
    font-family: "Poppins";
    color: rgb(124, 133, 142);
    line-height: 1.929;
    max-width: 1008px;
    margin: 0 auto;
    margin-top: 10px;
}

.journey {
    font-weight: 400 !important;
    font-size: 22px;
    max-width: 500px !important;
    font-family: "Poppins" !important;
    margin-top: 30px !important;
    color: rgb(53, 53, 53);
}

.background_business h5 {
    font-size: 18px;
    font-family: "Poppins";
    color: rgb(64, 64, 64);
    text-align: center;
    font-weight: 700;
    max-width: 650px;
    margin: 0 auto;
    margin-top: 35px !important;
    line-height: 1.5;
    word-spacing: 5.2px;
}

.background_business .pathTo_success {
    font-size: 16px;
    border-radius: 5px;
    background-image: -moz-linear-gradient( 53deg, rgb(255, 152, 102) 0%, rgb(255, 94, 98) 100%);
    background-image: -webkit-linear-gradient( 53deg, rgb(255, 152, 102) 0%, rgb(255, 94, 98) 100%);
    background-image: -ms-linear-gradient( 53deg, rgb(255, 152, 102) 0%, rgb(255, 94, 98) 100%);
    -webkit-box-shadow: -2px 16px 19px -15px rgba(0, 0, 0, 0.39);
    box-shadow: -2px 16px 19px -15px rgba(0, 0, 0, 0.39);
    color: #fff;
    border: none;
    padding: 15px 30px;
    font-family: "Circular Std Book";
    font-weight: 500;
    display: flex;
    margin: auto;
    margin-top: 40px !important;
    max-width: 284px;
    transition: all .3s ease-in-out !important;
}

.background_business .pathTo_success:hover {
    box-shadow: -1px 10px 38px -9px rgba(0, 0, 0, 0.88);
    -webkit-box-shadow: -1px 10px 38px -9px rgba(0, 0, 0, 0.88);
    -moz-box-shadow: -1px 10px 38px -9px rgba(0, 0, 0, 0.88);
    transform: scale(1.01);
}


/* business plan ending */


/* starting how it works */

.background5 {
    /* background: url('../images/background5.png') no-repeat right;
    height: 1000px;
    background-size: contain;
    bottom: 0px;
    right: 0px;
    position: relative;
    z-index: -101; */
    position: absolute;
    top: -275px;
    right: 0px;
    z-index: -101;
}

.howItWorks {
    position: relative;
}

.howItWorks .tools_h2::after {
    display: none;
}

.howItWorks .tools_h2 {
    margin-top: 170px;
}

.working_circles figure {
    width: 144px;
    height: 144px;
    border-radius: 50%;
    border: 6px solid #4eb648;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    background-color: #fff;
}

.working_circles figure img {
    width: 46px;
    height: auto;
}

.working_circles h3 {
    font-size: 35px;
    font-family: "Circular Std Book";
    background: linear-gradient(90deg, rgba(210, 223, 232, 1) 0%, rgba(237, 230, 230, 1) 30%, rgba(242, 242, 242, 1) 65%);
    line-height: 1.2;
    -webkit-background-clip: text;
    color: transparent;
    font-weight: bold;
    margin-top: 20px;
    max-width: 100%;
    margin-bottom: 0px;
}

.working_circles h5 {
    font-size: 18px;
    font-family: "Poppins";
    color: rgb(51, 51, 51);
    font-weight: bold;
    line-height: 1.444;
    text-align: center;
    max-width: 100%;
}

.working_circles p {
    font-size: 14px;
    font-family: "Poppins";
    color: rgb(124, 133, 142);
    line-height: 1.571;
    text-align: center;
    max-width: 205px;
    margin: 0 auto;
    margin-bottom: 20px !important;
    margin-top: 20px;
}

.working_circles a {
    font-size: 14px;
    font-family: "Poppins";
    color: rgb(2, 115, 114);
    line-height: 1.571;
    text-align: center;
    text-decoration: none;
    transition: all 0.5s ease-in-out;
    font-weight: 500;
}

.working_circles a:hover {
    color: #23cc1a;
}

.workingCircles_secondnfourth figure {
    border-width: 1px !important;
}

.howItWorks .container {
    margin-top: 80px;
    position: relative;
}

.line {
    position: absolute;
    z-index: -101;
    left: 200px;
    width: 90%;
    top: -39px;
}

.send {
    position: absolute;
    z-index: -99;
    right: -110px;
    top: -71px;
}

.start_journey {
    margin-top: 100px;
    justify-content: center;
    text-align: center;
    background-color: #fff;
    box-shadow: 1.777px 16.907px 100px 0px rgba(0, 0, 0, 0.1);
    border-radius: 80px;
}

.start_journey_insider {
    padding-top: 40px;
}

.start_journey h5 {
    color: rgb(56, 57, 58);
    font-family: 'Circular Std Book';
    font-size: 25px;
    font-weight: 600;
    position: relative;
    max-width: 370px;
    margin: 0 auto;
}

.start_journey h5::before {
    content: '';
    position: absolute;
    top: -37px;
    left: 40%;
    right: 50%;
    width: 60px;
    height: 3px;
    border-radius: 7px;
    background-color: #23cc1a;
}

.start_journey span {
    color: #23cc1a;
}

.start_journey_insider p {
    font-size: 14px;
    font-family: "Poppins";
    color: rgb(124, 133, 142);
    line-height: 1.571;
    text-align: center;
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px 20px 40px 20px;
}


/* end of how it works */


/* starting path */

.path {
    margin-top: 90px;
    position: relative;
}

.design1 {
    left: 0 !important;
    top: -6rem !important;
    position: absolute;
    z-index: -99;
}

.path .tools_h2::after {
    left: 46% !important;
}

.path .background4 {
    margin-top: 80px;
    position: relative;
}

.bulbFactory {
    position: absolute;
    transform: rotate(90deg);
    font-size: 80px;
    top: 173px;
    font-family: "Poppins";
    color: rgba(16, 89, 131, 0.043);
    right: -295px;
    font-weight: bold;
}

.mynav2 .nav-item .nav-link {
    padding: 20px 60px !important;
    font-weight: bold;
    background-color: white;
    font-family: 'Circular Std Book';
    color: rgb(56, 57, 58);
    font-size: 18px;
    text-align: center;
}

.mynav2 .nav-link.active {
    background-color: #4eb648 !important;
    color: #fff;
}

.mynav2 .nav-item {
    position: relative;
}

.mynav2 .nav-item:not(:last-child)::after {
    position: absolute;
    content: '';
    width: 1px;
    height: 32%;
    background-color: #4eb648;
    right: 0px;
    top: 23px;
}

.btn1 {
    border-top-left-radius: 30px !important;
    border-bottom-left-radius: 30px !important;
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
}

.btn3 {
    border-top-right-radius: 30px !important;
    border-bottom-right-radius: 30px !important;
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
}

.btn2 {
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
}

.mynav2 {
    box-shadow: 1.777px 16.907px 100px 0px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    border-radius: 30px;
    max-width: 835px;
    margin: 0 auto;
    margin-top: -50px;
}

.tab_content_color {
    background-color: #fafbfb;
}

.tab_container {
    display: flex;
    justify-content: start;
}

.numbering_tab {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: -moz-linear-gradient( 53deg, rgb(255, 152, 102) 0%, rgb(255, 94, 98) 100%);
    background-image: -webkit-linear-gradient( 53deg, rgb(255, 152, 102) 0%, rgb(255, 94, 98) 100%);
    background-image: -ms-linear-gradient( 53deg, rgb(255, 152, 102) 0%, rgb(255, 94, 98) 100%);
    box-shadow: 0px 18px 60px 0px rgba(0, 0, 0, 0.18);
    font-size: 25px;
    font-family: "Circular Std Book";
    color: white;
    margin-left: 10px;
}

.numbering_text {
    max-width: 250px;
    margin-left: 8px;
}

.numbering_text h5 {
    font-family: 'Poppins';
    color: rgb(51, 51, 51);
    font-weight: 600;
    font-size: 18px;
    margin-top: 10px;
}

.numbering_text p {
    font-size: 14px;
    font-family: "Poppins";
    color: rgb(124, 133, 142);
    line-height: 1.571;
    text-align: left;
    margin-top: 15px;
}

.design_div {
    position: relative;
}

.design {
    position: absolute;
    right: 0;
    top: -3rem;
    z-index: -99;
}

.second_tab .mynav2 {
    margin-top: 60px;
    max-width: 538px;
}

.second_tab .mynav2 .nav-link.active {
    background-color: #0c6f0a !important;
}

.second_tab .mynav2 .nav-item:not(:last-child)::after {
    display: none;
}

.second_tab .mynav2 .nav-item .nav-link {
    padding: 20px 50px !important;
}

.second_tab .tab-content p {
    max-width: 1002px;
    font-size: 14px;
    font-family: "Poppins";
    color: rgb(124, 133, 142);
    line-height: 1.571;
    margin: 0 auto;
}

.payment_circle {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background-image: -moz-linear-gradient( 53deg, rgb(255, 94, 98) 0%, rgb(16, 97, 12) 0%, rgb(35, 204, 26) 100%);
    background-image: -webkit-linear-gradient( 53deg, rgb(255, 94, 98) 0%, rgb(16, 97, 12) 0%, rgb(35, 204, 26) 100%);
    background-image: -ms-linear-gradient( 53deg, rgb(255, 94, 98) 0%, rgb(16, 97, 12) 0%, rgb(35, 204, 26) 100%);
    box-shadow: 0px 18px 60px 0px rgba(0, 0, 0, 0.18);
    color: #fff;
    margin: 0 auto;
    font-size: 35px;
    font-family: "Circular Std Book";
    line-height: 1.086;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -80px;
}

.payment h5 {
    font-size: 25px;
    font-family: "Circular Std Book";
    color: rgb(56, 57, 58);
    max-width: 100%;
    margin-bottom: 0px;
    margin-top: -40px;
}

.payment h6 {
    font-size: 18px;
    font-family: "Circular Std Book";
    color: rgb(84, 88, 91);
    line-height: 2.333;
    max-width: 100%;
    margin-top: -10px;
}

.payment p {
    font-size: 22px !important;
    font-family: "Poppins";
    color: rgb(131, 121, 139) !important;
    line-height: 1.909;
    max-width: 100% !important;
    font-weight: 400;
}

.payment span {
    font-size: 20px;
    font-family: "Circular Std Book";
    color: rgb(78, 182, 72);
    line-height: 2.1;
    max-width: 100%;
}

.payment {
    position: relative;
    max-width: 686px;
    border-radius: 49px;
    background-color: #fff;
    box-shadow: 1.777px 16.907px 100px 0px rgba(72, 117, 121, 0.15);
    margin: 0 auto;
    margin-top: 150px !important;
}

.payment .lets_start {
    font-size: 16px;
    border-radius: 5px;
    background-image: -moz-linear-gradient( 53deg, rgb(255, 152, 102) 0%, rgb(255, 94, 98) 100%);
    background-image: -webkit-linear-gradient( 53deg, rgb(255, 152, 102) 0%, rgb(255, 94, 98) 100%);
    background-image: -ms-linear-gradient( 53deg, rgb(255, 152, 102) 0%, rgb(255, 94, 98) 100%);
    /* box-shadow: 0px 18px 60px 0px rgba(0, 0, 0, 0.18); */
    -webkit-box-shadow: -2px 16px 19px -15px rgba(0, 0, 0, 0.39);
    box-shadow: -2px 16px 19px -15px rgba(0, 0, 0, 0.39);
    color: #fff;
    border: none;
    padding: 15px 50px;
    font-family: "Circular Std Book";
    font-weight: 500;
    display: flex;
    margin: auto;
    position: relative;
    bottom: -25px;
    transition: all .3s ease-in-out !important;
    max-width: 175px;
}

.payment .lets_start:hover {
    box-shadow: -1px 10px 38px -9px rgba(0, 0, 0, 0.88);
    -webkit-box-shadow: -1px 10px 38px -9px rgba(0, 0, 0, 0.88);
    -moz-box-shadow: -1px 10px 38px -9px rgba(0, 0, 0, 0.88);
    transform: scale(1.01);
}


/* starting footer */

footer {
    margin-top: 150px;
}

.ftr_up {
    height: 796px;
    position: relative;
    z-index: 1;
}

.ftr_up .factory_bulb {
    position: relative;
    font-size: 169.542px;
    font-family: "Poppins";
    color: rgba(255, 255, 255, 0.043);
    -moz-transform: matrix( 1.00032201108416, 0, 0, 1.00270309189278, 0, 0);
    -webkit-transform: matrix( 1.00032201108416, 0, 0, 1.00270309189278, 0, 0);
    -ms-transform: matrix( 1.00032201108416, 0, 0, 1.00270309189278, 0, 0);
    font-weight: bold;
    z-index: -100;
    text-align: center;
}

.ftr_up .container h5 {
    font-size: 42px;
    font-family: "Circular Std Book";
    color: rgb(255, 255, 255);
    line-height: 1;
    margin-top: -12%;
}

.info_holder {
    max-width: 920px;
    margin: 0 auto;
    border-radius: 51px;
    background-color: rgba(255, 255, 255, 0.289);
    box-shadow: 1.777px 16.907px 100px 0px rgba(72, 117, 121, 0.15);
    position: relative;
    margin-top: 40px;
}

.information {
    padding: 70px !important;
}

.information input,
textarea {
    border-radius: 51px;
    border: none;
    padding-left: 30px;
    padding-right: 30px;
}

.information textarea {
    padding-top: 40px;
    padding-left: 40px;
    padding-right: 30px;
    max-width: 788px;
    margin: 0 auto;
}

.information input {
    margin-bottom: 20px;
    height: 60px;
    width: 100%;
}

.information input:focus {
    outline: none;
    /* border: 1px solid #23cc1a; */
}

.information textarea:focus {
    outline: none;
    /* border: 1px solid #23cc1a; */
}

.information .row {
    justify-content: space-between;
}

.information input::placeholder {
    color: #54585b;
    font-size: 15px;
    font-family: "Circular Std Book";
    font-weight: 600;
}

.information textarea::placeholder {
    color: #54585b;
    font-weight: 600;
    font-size: 15px;
    font-family: "Circular Std Book";
}

.information .sbmt_btn {
    font-size: 16px;
    border-radius: 5px;
    background-image: -moz-linear-gradient( 53deg, rgb(255, 152, 102) 0%, rgb(255, 94, 98) 100%);
    background-image: -webkit-linear-gradient( 53deg, rgb(255, 152, 102) 0%, rgb(255, 94, 98) 100%);
    background-image: -ms-linear-gradient( 53deg, rgb(255, 152, 102) 0%, rgb(255, 94, 98) 100%);
    /* box-shadow: 0px 18px 60px 0px rgba(0, 0, 0, 0.18); */
    -webkit-box-shadow: -2px 16px 19px -15px rgba(0, 0, 0, 0.39);
    box-shadow: -2px 16px 19px -15px rgba(0, 0, 0, 0.39);
    color: #fff;
    border: none;
    padding: 15px 50px;
    font-family: "Circular Std Book";
    font-weight: 500;
    margin: auto;
    margin-top: 40px;
    max-width: 176px;
    text-align: center;
    transition: all .3s ease-in-out !important;
}

.information .sbmt_btn:hover {
    box-shadow: -1px 10px 38px -9px rgba(0, 0, 0, 0.88);
    -webkit-box-shadow: -1px 10px 38px -9px rgba(0, 0, 0, 0.88);
    -moz-box-shadow: -1px 10px 38px -9px rgba(0, 0, 0, 0.88);
    transform: scale(1.01);
}

.right_reserved {
    margin-top: 60px;
    font-size: 18px;
    font-family: "Circular Std Book";
    color: #54585b;
    margin-bottom: 0px;
}

.privacy {
    font-size: 18px;
    font-family: "Circular Std Book";
    color: rgb(78, 182, 72);
    padding-bottom: 30px;
}